
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-152529706-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-152529706-1');
	</script>
    <meta charset="UTF-8">
    <title>HaveFun Welcomes you!</title>
  
</head>
<style>

	body{
		text-align-last: center;
	}

	.container{

		border: dotted;
    	background-color: mistyrose;
	}

	h1{
		color: teal;
	}

	h2{
    color: green;
	}
	textarea{
		width: 500px;
		height: 70px;
		font-size: x-large;
	}

	.income{
		    padding-top: 1em;
    		font-size: 1.7em;
    		display: -webkit-box;		
	}

	a:hover{
		color: orangered;
		text-decoration: none;

	}

	button{
		margin-top: 0.5em;
		margin-bottom: 1.5em;
		color: red;
	}

</style>

<body>
    <div class="container mt-2">

    	 <h1>welcome to HaveFun: <span>The Best Way to Make fun</span></h1>
    	 <div>
    	 <h2>Please Enter Your Buddy's Name</h2>
    	 <form action='/show' method="get"> 
    	 	<textarea name='text' placeholder="Enter and See Magic"></textarea><br>
    	 	<button  type="submit">Submit</button>
    	 </form>
    	 </div>

    </div>

    <div class="income row">
    	<div class="xs-4">
    	<a href="https://paidera.com/?r=293162">Earn $30 With Us<br>click This</a>
    	</div>
    	<div class="xs-4"><a href="https://paidera.com/?r=293162">Earn real money<br>withdrawal in Paytm</a></div>

    </div>

</body>
</html>